@font-face {
    font-family: 'Heveltica-Neue';
    src: url('..//assets/fonts/Helvetica-Neue.otf');
}

nav{
    background-color: #fff;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Heveltica-Neue';
}

nav img{
    height: 80px;
    width: 80px;
}

nav div a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    margin: 0 20px;
    letter-spacing: 1.5px;
}

nav div a:hover{
    text-decoration: underline;
}

nav div p{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    margin: 0 20px;
    letter-spacing: 1.5px;
}

nav div p:hover{
    text-decoration: underline;
}


.header {
    background-color: #374151;
    width: calc(100% - 40px);
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.header__burger {
    display: block;
    cursor: pointer;
 }

.header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 33%;
    height: 100vh;
    background-color: #161618;
    display: none;
    z-index: 1;
}

.header__nav.open {
    display: flex;
    animation: transformMenu 420ms ease-in-out forwards;
}

@keyframes transformMenu {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: initial;
    }
}

@media screen and (max-width: 950px) {
    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
    }
}

.overlay-menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 0;
}

.overlay-menu-mobile.open {
    display: block;
}